<%- include('layouts/header') -%>
<body>
    <div class="container">
        <h2><%= data.content %></h2>
        <p>This is the home page. We will learn something awesome</p>
    </div>
</body>
<%- include('layouts/footer') -%>